pkgbase = omatut-git
	pkgdesc = Screen-aware learning companion for Omarchy
	pkgver = 0.6.0.alpha.0.r0.g33b9bce
	pkgrel = 1
	url = https://github.com/benryanx/omatut
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = chromium
	depends = grim
	depends = libcanberra
	depends = libsecret
	depends = nodejs>=24
	depends = omarchy
	depends = pipewire
	depends = slurp
	depends = voxtype-bin
	provides = omatut
	conflicts = omatut
	source = omatut-git::git+https://github.com/benryanx/omatut.git
	b2sums = SKIP

pkgname = omatut-git
